/*first paragraph*/
h1 {
  background-color: #523E29;
  color: white;
}
body {
  font-family: Arial;
  background-color: #F2E4BE;
}
/*second paragraph*/
h2 {
  color: #523E29;
  font-size: 150%;
}
.info {
  border: 2px solid black;
  width: 400px;
}

/*third paragraph*/
h3 {
  color: #523E29;
  font-size: 150%;
}
.hobby {
  border: 2px solid black;
  width: 400px;
}
/*fourth paragraph*/
.top {
  border: 2px solid black;
  width: 400px;
  color:#523E29
}
